In [1]:
import pandas as pd
from aimobile.data.analysis.base import Analyzer

In [4]:
FP = "tests/data/appdata.csv"
df = pd.read_csv(FP)
df =pd.concat([df,df], axis=0)
a = Analyzer(data=df)
a.value_counts(x="id")
a = Analyzer(data=df)
a.value_counts(x=["id","name"], threshold=3)

           id  count
0  4179074473      2
1  4927054504      2
2  6017489941      2
3  6199805156      2
4  6368339215      2
5  7692793649      2
6  8794149251      2
7  8823828745      2
8  8992701518      2
9  9071358839      2

Empty DataFrame
Columns: [id, name, count]
Index: []

In [ ]:
import pandas as pd
summary = df["category"].value_counts().reset_index()
df2 = df.groupby(by="category")['app_id'].nunique().to_frame()
df3 = df.groupby(by="category")['rating'].mean().to_frame()
summary = summary.join(df2, on='category')
summary = summary.join(df3, on='category')
summary.columns = ["Category", "Reviews", "Apps", "Ave Rating"]

## Autothrottle

In [ ]:
from scipy.stats import expon

lambda_param = 0.5
distribution = expon(scale = 1 / lambda_param)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = np.linspace(0, 20, 2000)
_, ax = plt.subplots(1, 1)
ax.plot(x, distribution.pdf(x), '-', lw=2)
plt.title('Exponential distribution with lambda = 0.5')
plt.show()

In [ ]:
generated_values = distribution.rvs(10000)

import pandas as pd

pd.DataFrame(
    generated_values,
    columns=["Exponential distribution, rate = 0.2, 10000 random values"]
).hist(bins = 50)

In [ ]:
from datetime import datetime
h = datetime.now().strftime("%H")
h = int(h)
b = h/6
int(b)

In [ ]:
class Test:
    @classmethod
    def method1(cls, a,b):
        return a+b
    
    
    def method2(self, c,d):
        return cls.method1(a=c,b=d)

Test.method2(c=1,d=2)